<h1>Word Match</h1>

<form action="/match/add" method="post">
    <label>Enter Your Name</label>
    <input name="names" type="text" id="textFieldForNameInput" />
    <input type="submit" />
</form>

<p>{{output}}</p>

<div>
    {{{outputHTML}}}
</div>
